<nav class="bg-white px-8 py-3 flex items-center justify-between">
  <div class="flex items-center text-2xl font-bold select-none">
    <span class="text-red-700">Get</span><span class="text-black">Jobs</span>
  </div>
  <div class="hidden md:flex items-center space-x-8">
    <a routerLink="/" class="text-gray-600 hover:text-red-700 text-sm cursor-pointer">Início</a>
    <a routerLink="/planos" class="text-gray-600 hover:text-red-700 text-sm cursor-pointer">Planos</a>
    <a routerLink="/vagas" class="text-gray-600 hover:text-red-700 text-sm cursor-pointer">Vagas</a>
    <a routerLink="/sobre" class="text-gray-600 hover:text-red-700 text-sm cursor-pointer">Sobre nós</a>
    <a routerLink="/ajuda" class="text-gray-600 hover:text-red-700 text-sm cursor-pointer">Ajuda e Suporte</a>
    <button routerLink="/login"
      class="ml-4 px-6 py-3 rounded-md bg-gray-800 text-white text-sm hover:bg-gray-900 transition">Login</button>
    <button routerLink="/cadastro"
      class="ml-2 px-6 py-3 rounded-md bg-[#CC2632] text-white text-sm hover:bg-red-700 transition">Cadastrar</button>
  </div>
  <button class="md:hidden flex items-center" (click)="toggleMenu()">
    <svg class="w-7 h-7 text-gray-700" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
    </svg>
  </button>
</nav>
@if(menuOpen) {
<div class="md:hidden px-8 pb-4 flex flex-col space-y-2">
  <a routerLink="/" class="text-gray-600 hover:text-red-700 text-sm py-1">Início</a>
  <a routerLink="/vagas" class="text-gray-600 hover:text-red-700 text-sm py-1">Vagas</a>
  <a routerLink="/planos" class="text-gray-600 hover:text-red-700 text-sm py-1">Planos</a>
  <a routerLink="/sobre" class="text-gray-600 hover:text-red-700 text-sm py-1">Sobre nós</a>
  <a routerLink="/ajuda" class="text-gray-600 hover:text-red-700 text-sm py-1">Ajuda e Suporte</a>
  <button routerLink="/login"
    class="w-full mt-2 px-6 py-4 rounded-md bg-gray-600 text-white text-sm hover:bg-gray-700 transition">Login</button>
  <button routerLink="/cadastro"
    class="w-full mt-2 px-6 py-4 rounded-md bg-red-600 text-white text-sm hover:bg-red-700 transition">Cadastrar</button>
</div>
}
